
.wrapper {
  margin: 50px auto;
  width: 70%;
  height: 400px;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #f2f2f2;
  color: #000;
  padding: 50px 0;
}

.header {
  margin: 30px auto;
  text-align: center;
  color: #ff6868;
}

.about {
  text-align: center;
}

.about p {
  margin: 40px auto;
}

button {
  padding: 8px 16px;
  margin-bottom: 10px;
  border: none;
  background: #ff6868;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}