body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #f2f2f2;
  color: #000;
  padding: 50px 0;
}

.flex-outer .values {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  color: #000;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  width: 100%;
}

.container {
  width: 80%;
  min-width: 350px;
  max-width: 800px;
  margin: 4% auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li .field,
legend {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li .field {
  flex: 1 0 120px;
  min-width: 220px;
}

.flex-outer li  {
  margin: 0;
}

.flex-outer .FormInput {
  width: 100%;
}
.flex-outer li input,
.flex-outer li textarea,
.dropdownOrder {
  padding: 15px;
  border: none;
  width: 100%;
}

.container .buttonBack {
  justify-content: flex-end;
}

.flex-outer li.buttonForm {
  display: flex;
  justify-content: flex-end;
}
.flex-outer li.buttonForm button,
.buttonBack,
.buttonNew,
.dropdownOrder,
#dropdownFilter {
  padding: 8px 16px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: none;
  background: #ff6868;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.buttonNew {
  margin-right: 20px;
  margin-left: 0;
}
#dropdownFilter {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0;
  margin-left: 0;
}

.flex-outer li.buttonForm .buttonRemove {
  padding: 8px 16px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: none;
  background: #7f7f7f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.container .dropdownOrder .dropdownContent {
  text-align: center;
  padding: 2rem 0;
}

.gameList {
  margin: 0;
  padding: 0;
}

.flex-outer.gameDetails .values {
  cursor: default;
}

.filter {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  color: #000;
  padding: 7px 16px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #ff6868;
  background: #fff;
  color: #ff6868;
  letter-spacing: .09em;
  border-radius: 2px;
}

.gameDetail {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  color: #000;
  border-left: 1px #ff6868 solid;
  border-bottom: 1px #ff6868 solid;
  border-top: 1px #e5e5e5 solid;
  border-right: 1px #e5e5e5 solid;
  list-style-type: none;
  padding: 8px 16px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: .09em;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
}

.gameDetail a {
  color: #000;
}
.gameDetail a:hover {
  text-decoration: none;
  color: #ff6868;
}

.gameDetail img { 
    display: inline-block;
}
.error {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: .09em;
  text-align: center;
  color: #000;
  border: 1px #ff6868 solid;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-left: 5px solid rgb(255, 104, 104);
  width: 70%;
  margin: 10px auto;
}